doctype html
html(lang='en', ng-app='Sigine')
  head
    title L1000CDS²
    // root variable to adjust the loading path for resources for geo2me
    link(rel='shortcut icon', href=root+'CSS/images/sigine.ico', type='image/x-icon')
    |     
    link(rel='stylesheet', href=root+'libraries/font-awesome/css/font-awesome.min.css')
    |     
    link(rel='stylesheet', type='text/css', href=root+'libraries/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href=root+'CSS/sigine.css')     
    link(rel='stylesheet', href=root+'CSS/angular-toggle-switch-bootstrap-3.css')
    link(rel='stylesheet', href=root+'versioned/angular-block-ui.min.css')
    // global variables if any. Pass "" if null.
    script(type='text/javascript').
      var input= !{JSON.stringify(input)}
      var results = !{JSON.stringify(results)}

    // libraries    
    script(src=root+'libraries/jquery/jquery.min.js')
    script(src=root+'libraries/string/lib/string.min.js')
    script(src=root+'libraries/underscore/underscore-min.js')
    script(src=root+'libraries/angular/angular.min.js')     
    script(src=root+'versioned/smart-table.debug.js')
    script(src=root+'libraries/angular-bootstrap-toggle-switch/angular-toggle-switch.min.js')
    script(src=root+'versioned/ui-bootstrap-tpls-0.12.0.min.js')
    script(src=root+'versioned/angular-block-ui.min.js')
    // scripts
    script(src=root+'scripts/services.js')
    script(src=root+'scripts/app.js')
    script(src=root+'scripts/controllers.js')
  |   
  body(style='text-align:center', ng-controller='GeneList')
    .pure-menu.pure-menu-horizontal.custom-menu
      img.rubic(src=root+'CSS/images/sigine.png', alt='Sigine')
      |     &#x9;
      span.rubic-title  L1000CDS
        sup 2 
      |       
      .description
        | An 
        span.highlight.lightning-fast ultra-fast
        |  LINCS 
        span.highlight L1000 
        span.highlight C
        |haracteristic 
        span.highlight D
        |irection 
        span.highlight S
        |ignature
        span.highlight S
        |earch Engine
      span.search-count-text
        span.search-count {{searchCount}} 
        | searches performed!
    .header-board
      a.btn.share-button(ng-style="{'visibility':(shareURL?'visible':'hidden')}" ng-click="share()")
        i.fa.fa-share-alt-square
      a.btn.share-button(href="help" target="_blank")
        i.fa.fa-question-circle
    #container.row.custom-row
      .col-sm-3
        // <input class="pure-input-2-3" placeholder="description of gene list"></input>
        .input-margin
          div
            .input-title-wrapper
              b {{inputType()=="CD"?"signature":"up genes"}}
              a.btn.eraser-btn(title="clear" ng-click="clear('upGenes')")
                i.fa.fa-eraser
          |             
          textarea.form-control.input-gene-list(placeholder='up genes or a signature', ng-model='upGenes' ng-style="{height:(inputType()=='CD'?'34.6em':'16em')}")
        |           
        .input-margin(ng-style="{display:(inputType()=='CD'?'none':'block')}")
          div
            .input-title-wrapper
              b down genes
              a.btn.eraser-btn(title="clear" ng-click="clear('dnGenes')")
                i.fa.fa-eraser
          |             
          textarea.form-control.input-gene-list(placeholder='down genes', ng-model='dnGenes')
        |           
        .input-margin
          button.btn.btn-primary.custom-button.search-button(ng-class="{disabled:!inputType()}", ng-click='search()') Search
        .input-margin
          a.btn.btn-success.custom-button.long-button(ng-click='loadDefaultExample()') Gene-set Example
        .narrow-margin
          a.btn.btn-success.custom-button.long-button(ng-click='loadSignatureExample()') Signature Example
        .input-margin
          a.btn.btn-warning.custom-button.long-button(ng-click='showEbovs()') EBOV Signatures
        .narrow-margin
          a.btn.btn-warning.custom-button.long-button(ng-click='showExamples()') Disease Signatures                
        .input-margin(style='padding:0')
          toggle-switch.switch-default(model='aggravate', on-label='mimic', off-label='reverse')
            toggle-switch
      |     
      .col-sm-9
        table.table.table-striped(st-table='displayedEntries', st-safe-src='entries')
          thead
            th  Score 
            |             
            th  Perturbation 
            |             
            th  Cell-line 
            |             
            th  Dose 
            |             
            th  Time 
            |             
            th  Signature 
          tbody           
            tr(ng-class="{'up-signature': (entry['posPercent']>=0.5), 'dn-signature': (entry['posPercent']<0.5)}", ng-repeat='entry in displayedEntries')
              td {{entry["score"].toFixed(4)}}
              |               
              td
                a(href="http://life.ccs.miami.edu/life/summary?mode=SmallMolecule&input={{entry['pert_id']}}&source=BROAD", target='_blank')
                  | {{entry["pert_desc"]=="-666" || entry["pert_desc"].length > 46 ?entry["pert_id"]:entry["pert_desc"]}}
              |               
              td {{entry["cell_id"]}}
              |               
              td {{entry["pert_dose"]+entry["pert_dose_unit"]}}
              |               
              td {{entry["pert_time"]+entry["pert_time_unit"]}}
              |               
              td
                a.btn.download-icon(ng-class="{'disabled':!entry}" ng-click="downloadMeta(entry['sig_id'])")
                  i.fa.fa-download
          |           
          tfoot
            tr
              td(colspan='6')
                .table-label  Chemical Perturbations
                |                   
                .custom-pagination(st-pagination='', st-items-by-page='14', st-displayed-pages='')
        h3(ng-class="{err:err,noerr:!err}") {{err}}
    footer.footer
      .container 
        p.text-muted L1000CDS² is being developed by the <a target="_blank" href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a target="_blank" href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a> for the <a target="_blank" href="http://lincs-dcic.org/">BD2K-LINCS DCIC</a> and the <a target="_blank" href="http://commonfund.nih.gov/idg/overview">KMC-IDG</a>. The L1000CDS² tool underlying dataset is the <a target="_blank" href="http://www.lincscloud.org/">LINCS L1000</a> small molecule expression profiles generated at the Broad Institute by the <a target="_blank" href="http://lincscloud.org/about/cmap-team/">Connectivity Map Group</a>. This work is supported by NIH Grants <a target="_blank" href="http://bd2k.nih.gov/FY14/LINCS/LINCS.html">U54HL127624</a> and <a target="_blank" href="http://projectreporter.nih.gov/project_description.cfm?projectnumber=1U54CA189201-01">U54CA189201</a>.
